@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Medium.ttf') format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: 'Roboto flex';
  src: url('./assets/fonts/RobotoFlex.ttf') format("truetype");
}

body {
  font-family: 'Roboto';
  margin: 0;
}